<h1>Angular App with docker/docker compose</h1>
<p-panel header="Title">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
  deserunt
  quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-panel>
<br>
<p-card header="Advanced Card" subheader="Subheader">
  <p-header>
    <img src="Card" src="assets/showcase/images/usercard.png">
  </p-header>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
<br>
<p-card header="title" subheader="subtitle">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
</p-card>
<br>
<p-card>
  <p-header>
    Header content here
  </p-header>
  Body Content
  <p-footer>
    Footer content here
  </p-footer>
</p-card>
